<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.dao.houseMapper">
	<!-- 使用默认mybatis :二级缓存 -->
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" />
	<!-- 添加房屋信息 -->
	<insert id="insertHouse" parameterType="House">
	insert into house(user_id,type_id,title,description,price,pubdate,floorage,contact,street_id)
	values(#{user_id},#{type_id},#{title},#{description},#{price},now(),#{floorage},#{contact},#{street.id})
	</insert>
	
	<!-- 更新房屋信息 -->
	<update id="updateHouse" parameterType="House">
	update house set user_id=#{user_id},type_id=#{type_id},title=#{title},description=#{description},price=#{price},
	pubdate=#{pubDate},floorage=#{floorage},contact=#{contact},street_id=#{street.id} where id=#{id}
	</update>
	
	<!-- 删除房屋的信息 -->
	<delete id="delHouse" parameterType="Integer">
	delete from house where id=#{id}
	</delete>
	
	<!-- 删除房屋的信息 -->
	<delete id="delHouses" parameterType="House">
	delete from house where id in
	<foreach collection="list" open="(" close=")" separator="," item="house">
	#{house.id}
	
	</foreach>
	</delete>
	
	<!-- 各种查询条件的拼接 -->
	<sql id="conditionSql">
	  from house
	<where>
	<if test="title!=null and ''!=title">
	title like '%${title}%'
	</if>
	<if test="minPrice !=null and maxPrice !=null">
	and (price between #{minPrice} and #{maxPrice}) 
	</if>
	<if test="minFloorage !=null and maxFloorage !=null">
	and (floorage between #{minFloorage} and #{maxFloorage}) 
	</if>
	<if test="typeId!=null and typeId!=''">
	and typeId=#{typeId}
	</if>
	<if test="districtId!=null and districtId!=''">
	and districtId=#{districtId}
	</if>
	<if test="id!=null and id!=''">
	and id=#{id}
	</if>
	</where>
	</sql>
	
	<!-- 分页条件的拼接 -->
	<sql id="pageSql">
	
	limit #{start},#{pagesize}
	</sql>
	
	
	<!-- 排序条件的拼接 -->
	<sql id="orderSql">
	<if test="orderby!=null and orderby!=''">
	order by #{orderby} 
	</if>
	<if test="orderway!=null and orderway!=''">
	 #{orderway} 
	</if>
	</sql>
	<!-- 带查询条件，分页条件，排序条件的查询 -->
	<select id="findHouseCondition" parameterType="map" resultType="House">
	select * <include refid="conditionSql"/><include refid="orderSql"/><include refid="pageSql"/>
	</select>
	
	<!-- 带查询条件统计查询 -->
	<select id="findHouseConditionCount"  parameterType="map" resultType="int">
	select count(1) <include refid="conditionSql"/>
	</select>
	
	</mapper>